NEXT_PUBLIC_APP_NAME=CAPS
NEXT_PUBLIC_DEMO_EMAIL=admin@caps.local
NEXT_PUBLIC_DEMO_PASSWORD=123456
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/a/macros/bcah.christuniversity.in/s/AKfycbyCzyd3Qi-DiSZmGMVmH9sX7-fGrFfwAoitaAYVufyCmsAh0lFk9hzIWxzWzUI-6J7x/exec
GOOGLE_APPS_SCRIPT_API_KEY=
JWT_SECRET=f04cdfea-f09c-4161-8750-cf44f9f42a0ab1c5d61f-a617-426b-b8ec-7ecaf03635b6
